.row
  .col-md-4
    .panel.panel-default
      
      %table#general-info.table.table-condensed.table-striped
        %tbody
          %tr
            %td Name:
            %td=@player.name
          %tr
            %td Surname:
            %td=@player.surname
          %tr
            %td Nickname:
            %td=@player.nickname
          %tr
            %td Phone:
            %td=@player.phone
          %tr
            %td Skype:
            %td=@player.skype
          %tr
            %td Email:
            %td=@player.email
        
  
    %br
    .btn-toolbar.text-left
      %a.btn.btn-default.btn-sm{:href => edit_player_path(@player)} Edit
      
  .col-md-8
    .panel.panel-default
      =render 'events/list', :events => @events

      
